<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script type="text/javascript">

{% block jquery %}

var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'bar',
data: {
    labels: ['Mean', 'Minimum', 'Maximum'],
    datasets: [{
        label: 'Temperature',
        data: [22, 19, 29],
        backgroundColor: [

            'rgba(54, 162, 235, 0.2)',
        ],
        borderColor: [

            'rgba(54, 162, 235, 1)',
        ],
        borderWidth: 1
    }]
},
options: {
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
    }
}
});


{% endblock %}
</script>

<p is-center>
  *This is a demo bar chart the data in the chart is for demonstartion purposes only
</p>
